<div id="footer">
    <b>Website ©Milk_Cool, 2025</b><br>
    <b>Content by Letovo School, 2015-2025</b><br>
    <b>Fonts: Nimbus Sans Narrow</b><br>
    <a href="https://github.com/LetovoArchive/Website" target="_blank">GitHub</a>
</div>