<div id="header">
    <b>You're on the Letovo Archive! | <a href="/search">Search</a></b><br><br>
    <a href="/uploads">User-uploaded archives</a>
    <a href="/website">letovo.ru archvies</a>
    <a href="/docs">Document archvies</a>
    <a href="/ddg">DuckDuckGo document archvies</a>
    <a href="/gallery">Gallery archvies</a>
    <a href="/news">News archvies</a>
    <a href="/hhru">hh.ru archives</a>
    <a href="/web">Web archives</a>
</div>