<!DOCTYPE html>
<html>
    <%- include("head", { title: "LetovoArchive", description: null }) %>
    <body>
        <%- include("header") %>
        <h1 class="title center">Letovo Archive homepage</h1>
        <%- include("footer") %>
    </body>
</html>