<!DOCTYPE html>
<html>
    <%- include("head", { title: "Website | LetovoArchive", description: "Website archives on the Letovo Archive" }) %>
    <body>
        <%- include("header") %>
        <h1 class="title center">Website dumps</h1>
        
        <h2 class="title center">
            <a href="/vacancy">Vacancies</a><br>
            <a href="/text">Text pages</a><br>
        </h2>

        <%- include("footer") %>
    </body>
</html>